plugins:
  - skipBotEvents: false
    uses:
      - plugin: http://localhost:4000
        with:
          maxSimilarIssues: 2
          elevatedPriorityLabel: "Boosted"
          priorityMultiplier: 2
          crossLinkedIssueBoost: true
          priorityMultiplierDebug: true
          basePriceMultiplier: 1.0
