plugins:
  - uses:
      - plugin: http://localhost:4000
        with:
          maxSimilarIssues: 2
          elevatedPriorityLabel: "Boosted"
          priorityMultiplier: 2
          basePriceMultiplier: 1.0
