plugins:
  - uses:
      - plugin: http://localhost:4000
        skipBotEvents: false
        with:
          maxSimilarIssues: 2
          elevatedPriorityLabel: "Boosted"
          priorityMultiplier: 2
          crossLinkedIssueBoost: true
          priorityMultiplierDebug: true
          basePriceMultiplier: 1.0
