plugins:
  - uses:
      - plugin: ShivTestOrg/plugin-autoprice@development
        with:
          maxSimilarIssue: 2
          elevatedPriorityLabel: "Boosted"
          priorityMultiplier: 1.5
          basePriceMultiplier: 1.0
