plugins:
  - uses:
      - plugin: ShivTestOrg/issue-comment-embeddings@demoflag
        with:
          dedupeMatchThreshold: 0.9
          dedupeWarningThreshold: 0.7
          jobMatchingThreshold: 0.7
          editTimeout: 0
          demoFlag: true
