plugins:
  - uses:
      - plugin:  ShivTestOrg/command-ask@callback
        with:
          model: "openai/o1-mini"
          openAiBaseUrl: "https://openrouter.ai/api/v1"
          maxTokens: 100000
          maxDepth: 2
